*{
    margin: 20px;
    
}
/*HEADER*/
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 85px;
   
   
   
}
.header .logo {
    cursor: pointer;
    margin-right: auto;
    transform: translateX(-80px)
}
.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
    transform: translateX(-80px);
}
.header .logo img:hover {
    transform: scale(1.2);
}
.header .nav-links {
    list-style: none;
    
}
.header .nav-links li {
    display: inline-block;
    padding: 0;
    
}

.header .nav-links li:hover,
.overlay a:hover {
    transform: scale(1.1);

}
.header .nav-links a {
    font-size: 700;
    color: #015b41;
}
.header .nav-links a:hover {
    color: #015b41;
    font-weight: bold;
}
.menu {
    display: none;
}
.header .btn button,
.menu button {
    margin-left: 20px;
    color: #015b41;
    background-color: white;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 700;
}
.header .btn button:hover,
.menu button:hover {
    color: #015b41;
    transform: scale(1.1);
    text-decoration: underline;
}
.header a {
    text-decoration: none;
}
.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: white;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
.header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    color: #015b41;
}
.header .overlay a:hover,
.header .overlay a:focus {
    color: #093025;
}
.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}
/*MAIN IMAGEN GRANDE*/
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
   
    
}

.parallax {
    position: relative;
    overflow: hidden;
    
    
}
.word-responsive{
    display: none;
}

.content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-220%, -50%);
    text-align: left;
    color: white;
    font-size: 4rem;
    line-height: 1.5;
    
}
.contact-button {
    padding: 10px 20px;
    font-size: 1.5rem;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #45a049;
}
.buttons {
    margin-top: 20px;
    
}
.word {
        font-size: 5rem;
        display: block;
        line-height: 1.0;
        
    }
    .image-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 0;
        padding-top: 56.25%; /* Controla la relación de aspecto 16:9 (ajusta según tus necesidades) */
        margin-top: 0;
    }

    .image-container img {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        object-fit: cover; /* Controla cómo se ajusta la imagen dentro del contenedor */
    }

    .content-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        text-align: left;
        color: white;
        font-size: 4rem;
        line-height: 1.5;
        width: 100%;
       
    }

    .contact-button {
        padding: 10px 20px;
        font-size: 1.5rem;
        margin-top: 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .contact-button:hover {
        background-color: #45a049;
    }
/*FIN MAIN IMAGEN GRANDE*/


/*QUERIES*/
/* QUERIES HEADER*/
@media (max-width: 600px) {
   
    .logo {
        font-size: 2em;
    }}
    .header .logo img {
       
        transform: translateX(0px);}
        .header .logo 
        {
       
            transform: translateX(0px);}
   
@media screen and (max-height: 450px) {
  .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 1200px) {
    *{
        margin: 0;
    }
    .header{
        margin: 0;
        padding: 0;
    }
    .logo{
        margin: 0;
    }
    .btn{
        margin: 0;
    }

    .nav-links,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
    }
    .btn button{
        display: none;

    }
    .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    /*MAIN*/
    .word-responsive {
        display: block;
        font-size: 1.5rem;
    }

    .word {
        display: none;
    }

    .image-container {
        margin: 0;
    }

    .content-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -90%);
        text-align: center; /* Centrar el texto */
        color: white;
        font-size: 1.5rem; /* Tamaño de fuente más pequeño */
        line-height: 1.5;
        width: 100%;
    }

    .contact-button {
        font-size: 0.5rem;
        margin-top: 10px; /* Ajuste del margen superior */
        margin-left: auto; /* Centrar el botón */
        margin-right: auto; /* Centrar el botón */
        display: block; /* Para que ocupe todo el ancho disponible */
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .buttons {
        margin: 0;
    }
    /*FIN MAIN*/
     
}
/*FIN QUERIES*/