@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');body {
    margin: 0;
    padding: 100px;
    padding-top: 0;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    min-width: 400px;
}
body{
    padding: 5px 10%;

}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333; /* Fondo oscuro en modo oscuro */
        color: #fff; /* Texto claro en modo oscuro */
    }
}
.dark-mode {
    /* Estilos adicionales para modo oscuro */
    /* Por ejemplo, podrías cambiar colores de enlaces, fondos, etc. */
    background-color: #333;
    color: #fff;
}
/*HEADER*/
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 85px;
    padding: 50px;
   
}
.header .logo {
    cursor: pointer;
    margin-right: auto;
    transform: translateX(-80px)
}
.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
    transform: translateX(-80px);
}
.header .logo img:hover {
    transform: scale(1.2);
}
.header .nav-links {
    list-style: none;
    
}
.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    
}

.header .nav-links li:hover,
.overlay a:hover {
    transform: scale(1.1);

}
.header .nav-links a {
    font-size: 700;
    color: #015b41;
}
.header .nav-links a:hover {
    color: #015b41;
    font-weight: bold;
}
.menu {
    display: none;
}
.header .btn button,
.menu button {
    margin-left: 20px;
    color: #015b41;
    background-color: white;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 700;
}
.header .btn button:hover,
.menu button:hover {
    color: #015b41;
    transform: scale(1.1);
    text-decoration: underline;
}
.header a {
    text-decoration: none;
}
.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: white;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
.header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    color: #015b41;
}
.header .overlay a:hover,
.header .overlay a:focus {
    color: #093025;
}
.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}
/*FIN HEADER*/

/*MAIN IMAGEN GRANDE*/
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
}

.parallax {
    position: relative;
    overflow: hidden;
    
}
.word-responsive{
    display: none;
}

.content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-220%, -50%);
    text-align: left;
    color: white;
    font-size: 4rem;
    line-height: 1.5;
}
.contact-button {
    padding: 10px 20px;
    font-size: 1.5rem;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #45a049;
}

.arbol {
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 50%, transparent 100%);
}
.buttons {
    margin-top: 20px;
    
}

.word {
        font-size: 5rem;
        display: block;
        line-height: 1.0;
        
    }
   
/*FIN MAIN IMAGEN GRANDE*/


/*NOSOTROS*/
.main-2 {
    background-color: rgba(76, 175, 80, 0.1); /* Verde claro casi transparente */
    padding: 50px; /* Añadido espacio alrededor del contenido */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.aboutus {
    max-width: 50%; /* Ajusta el ancho del contenido de texto según sea necesario */
    text-align: left; /* Alinea el texto a la izquierda */
    color: #4CAF50; /* Color de texto verde */
}

.aboutus h1, .aboutus h2 {
    color: #2E7D32; /* Color verde oscuro para los títulos */
    font-weight: bold; /* Texto en negrita para los títulos */
}

.img-aboutus {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    
}
.img-below {
    position: relative;
    width: 200px; /* Ajusta el tamaño según sea necesario */
    height: 200px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%;
    top: 50%; /* Ajusta la posición vertical según sea necesario */
    left: 50%; /* Ajusta la posición horizontal según sea necesario */
    transform: translate(-500px, 60px);
}
/*FIN NOSOTROS*/

/*¿QUÉ HACEMOS?*/
.quehacemos{
    background-color: rgba(76, 175, 80, 0.1); /* Verde claro casi transparente */
    padding: 50px; /* Añadido espacio alrededor del contenido */
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
.quehacemos h1{
    color: #2E7D32; /* Color verde oscuro para los títulos */
    font-weight: bold;
    
}
.quehacemos p{
    color: #4CAF50;
    
}

.custom-section {
    background-color: rgba(76, 175, 80, 0.1);
    padding: 50px;
    text-align: left;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px); /* Desplazado hacia abajo */
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.custom-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-div {
    margin-bottom: 20px;
}

.custom-img-content {
    width: 100%;
    border-radius: 8px;
}


/*CARDCONTENT*/
.card-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.card {
    width: 100%;
    
   
    
}

.card-header {
    height: 300px;
     /* Ajustada la altura */
    /*width: 100%;
    /*object-position: 50% 50%;
    object-fit: cover;*/
    overflow: hidden; 
   
   
    
    
}


.card-title {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    
}



.card-description {
    flex-grow: 1;
}

.card-header img {
  
    width: 100%; /* Asegurando que la imagen del encabezado ocupe el 100% del ancho */
    height: 100%; /* Asegurando que la imagen del encabezado ocupe el 100% de la altura */
   
 
}
.card-body{
    padding: 0;
    margin-top: auto;
}

.card-body .btn-card {
    display: block;
    background-color: #006400; /* Color verde oscuro */
    padding: 20px; /* Ajusta el padding según tus necesidades */
    text-decoration: none;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: auto; /* Coloca el botón en la parte inferior */
    transition: background-color 0.3s;
}

.btn-card:hover {
    background-color: #00FF00; /* Color verde claro al pasar el ratón */
}

@media (max-width: 900px) {
    .card-content{
        display: grid;
        grid-template-columns: 1fr; /* Cambiado a 1fr para apilar las tarjetas en dispositivos más pequeños */
        gap: 10px;
    }

    .card {
        display: flex;
        flex-direction: column;
        height: 100%; /* Asegurando que la tarjeta ocupe toda la altura disponible en la cuadrícula */
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}
.green {
    background-color: white;
    color:black;
    padding: 50px;
    text-align: center;
}

.gren-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    
}

.green-div {
    
    /*max-width: 600px;*/
    max-width: 50%;
    text-align: left;
    padding: 0;
}

.image-container {
    display: flex;
    position: relative;
}

.img-content {
    width: 400px;
    height: 400px;
    max-width: 100%; /* Ajusta según tu necesidad */
    max-height: 100%; /* Ajusta según tu necesidad */
    object-fit: cover; /* Hace que la imagen cubra el contenedor */
    border-top-left-radius: 0; /* Esquina superior izquierda redonda */
    border-bottom-right-radius: 0; /* Esquina inferior derecha redonda */
    border-top-right-radius: 0; /* Esquina superior derecha punteaguda */
    border-bottom-left-radius: 0; /* Esquina inferior izquierda punteaguda */
}

.img-small {
    width: 150px; /* Tamaño pequeño */
    height: 150px; /* Tamaño pequeño */
    max-width: 100%; /* Ajusta según tu necesidad */
    max-height: 100%; /* Ajusta según tu necesidad */
    border-top-left-radius: 0; /* Esquina superior izquierda redonda */
    border-bottom-right-radius: 0; /* Esquina inferior derecha redonda */
    border-top-right-radius: 0; /* Esquina superior derecha punteaguda */
    border-bottom-left-radius: 0; /* Esquina inferior izquierda punteaguda */
    position: absolute;
    right: 0;
    bottom: 50%; /* Ajusta según tu necesidad para posicionarla en la mitad inferior */
    transform: translate(20%, 160%); /* Ajusta según tu necesidad para centrar verticalmente */
}

@media (max-width: 1200px) {
.gren-content {
flex-direction: column;
align-items: center;
text-align: center;
padding: 20px;
}

.green-div {
max-width: 100%; /* Ajusta según tus necesidades */
margin: 0 auto;
}

.image-container {
padding-top: 30px;
width: 100%;
justify-content: center;
align-items: center;
position: relative; /* Añadido para posicionar elementos hijos relativos a este contenedor */
}

.img-small {
position: absolute;
top: 50%;
left: 50%;
transform: translate(20%, 50%);
margin-top: 0; /* Ajusta según tus necesidades */
}
}
/*FIN ¿QUÉ HACEMOS?*/


/* CARRUSEL CLIENTES */
/* CARRUSEL CLIENTES */
.container-carrusel {
    display: flex;
    justify-content: space-between;
    background-color: rgba(76, 175, 80, 0.1); /* Verde claro casi transparente */
   padding-top: 50px;
    margin: auto;
    padding: 50px;
}

.carrusel {
    flex: 1;
    max-width: 65%;
    padding: 20px; /* Ajusta el espacio alrededor del carrusel según sea necesario */
}

#carouselExampleIndicators {
    flex: 1;
    max-width: 30%;
    margin-right: 50px;
    margin-top: 50px;
}

.content-carrusel {
    color: #2E7D32; /* Color verde oscuro para el texto del carrusel */
    font-size: 2.5em;
    margin-bottom: 20px;
}

.p-carrusel {
    text-align: justify;
}

.h2-carrusel {
    color: #2E7D32; /* Color verde oscuro para los subtítulos del carrusel */
}

.p-carrusel1 {
    text-align: justify;
}

@media (max-width: 768px) {
    .container-carrusel {
        flex-direction: column;
        align-items: center;
    }

    .carrusel,
    #carouselExampleIndicators {
        max-width: 100%;
        
    }
}
/* Styling */
.sliderr {
    height: 100vh;
    padding: 50px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.sliderr::before,
.sliderr::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100vh;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.sliderr::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.sliderr::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide {
    height: 100vh;
    width: 250px;
}
ul {
    list-style: none;
    padding: 0;
}


/*FORMULARIO*/
.logo {
    text-align: center;
    font-size: 3em;
    color: #015b41;
}

.logo span {
    color: #015b41;
}

.contact-wrapper {
    box-shadow: 0 8px 12px rgba(1, 91, 65, 0.8), 0 -8px 12px rgba(1, 91, 65, 0.8);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: white;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #015b41;
    border-bottom: 1px solid #14322a;
}

.contact-form form button {
    background: #015b41;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color: white;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #43d2aa;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info {
    background: #015b41;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}
/*FIN CONTACTO*/
/*PREGUNTAS FRECUENTES*/
.sct-article {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    padding: 50px;
    
} 


.section-article {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}



.div-article {
    flex: 1;
    max-width: 100%;
}

.faq-container {
    text-align: center;
    margin-bottom: 20px;
}


article {
    background-color: rgba(0, 128, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    transition: background-color 0.3s;
    width: 100%;
}

article:hover {
    background-color: rgba(0, 128, 0, 0.3);
}

.title-article {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 16px;
    
}

.content-article {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

article:hover .content-article {
    max-height: 500px;
}

@media (max-width: 768px) {
    .section-article {
        flex-direction: column;
        align-items: center;
    }

    
}
/*FIN PREGUNTAS FRECUENTES*/

/*SLIDER DE MARCAS*/
.slider-clientes {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(220px * 14); /* Ajustado para incluir el margen derecho */
}

.slide-clientes {
    width: 200px;
    margin: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-clientes {
    width: 150px;
    height: auto;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-210px * 7)); /* Ajustado para incluir el margen derecho */
        transform: translateX(calc(-210px * 7)); /* Ajustado para incluir el margen derecho */
    }
}
/*FIN SLIDER DE MARCAS*/
/*NORMAS ISO*/
#por-que-elegirnos {
    background-color: rgba(0, 128, 0, 0.1); /* Verde clarito transparente */
    padding: 40px;
}

#por-que-elegirnos h4,
#por-que-elegirnos h1 {
    text-align: left;
}

.razones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.razon {
    background-color: rgba(0, 128, 0, 0.3); /* Verde más oscuro */
    padding: 20px;
    width: 30%; /* Ajusta el ancho según tus necesidades */
    border-radius: 8px;
}

.razon h2 {
    color: white; /* Texto en color blanco para resaltar */
}
@media (max-width: 767px) {
    .razones {
        flex-direction: column; /* Apilar elementos uno encima del otro en dispositivos móviles */
    }

    .razon {
        width: 100%; /* Ocupar todo el ancho en dispositivos móviles */
        margin-bottom: 20px; /* Añadir espacio entre elementos */
    }

}
.politics {
    background-color: rgba(76, 175, 80, 0.1); /* Verde claro casi transparente */
    padding: 50px; /* Espaciado alrededor del contenido */
    text-align: left;
}

.politics h1 {
    color: #2E7D32; /* Color verde oscuro para los títulos */
    font-weight: bold;
}

.politics p {
    color: #4CAF50;
    line-height: 1.5em; /* Ajuste de la altura de línea para una mejor legibilidad */
    margin-bottom: 20px; /* Espaciado inferior entre párrafos */
}

.politics b {
    color: black; /* Texto negrita en color negro */
}

/* Ajuste para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .politics {
        padding: 20px; /* Ajuste de espaciado para dispositivos móviles */
    }
}
/*FIN NORMAS ISO*/


/*FOOTER*/
footer {
    display: grid;
    justify-content: end;
    align-content: end;
   
    background: e8e8e8;
    padding: 50px;
}

.footer {
    position: relative;
    width: 100%;
    height: auto;
    
    background: white;
}

.pie {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .pie .sec h2 {
    position: relative;
    columns: white;
    font-weight: 600;
    margin-bottom: 15px;
    color: #015b41;
}

footer .pie .sec p {
    color: #015b41;
}

footer .pie .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}

footer .pie .sci li {
    list-style: none;
}

footer .pie .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: white;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

footer .pie .sci li a i {
    color: #015b41;
    font-size: 20px;
}

footer .pie .quicklinks ul li {
    list-style: none;
}

footer .pie .quicklinks ul li a {
    color: #015b41;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

footer .pie .contact .info-footer li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .pie .contact .info-footer li span {
    color: #015b41;
    font-size: 20px;
}

footer .pie .contact .info-footer li a {
    color: #015b41;
    text-decoration: none;
}

.copyrightText {
    width: 100%;
    background: white;
    padding: 20px;
    text-align: center;
    color: #015b41;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
/*FIN FOOTER*/

/*QUERIES*/
/* UERIES HEADER*/
@media (max-width: 600px) {
    .logo {
        font-size: 2em;
    }}
    .header .logo img {
       
        transform: translateX(0px);}
        .header .logo 
        {
       
            transform: translateX(0px);}
   
@media screen and (max-height: 450px) {
  .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 800px) {

    .nav-links,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
    }
    .btn button{
        display: none;

    }
     
}
/*FIN QUERIES HEADER*/

/* FORMULARIO RESPONSIVO */
@media (min-width: 700px) {

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper > * {
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}
@media (max-width: 700px) {

    .content {
        padding: 0 1em;
    }

    .contact-wrapper {
        grid-template-columns: 1fr;
    }

    .contact-form form {
        grid-template-columns: 1fr;
    }

    .contact-form form .block {
        grid-column: auto;
    }
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .5em;
}
.contact-form form p {
    padding: .5em;
}
.contact-form form button {
    padding: 0.5em;
}
.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0.5rem 0 1rem 0;
}
/* Ajustes Adicionales para Dispositivos Muy Pequeños */
@media (max-width: 500px) {

    .contact-form form button {
        padding: 0.3em;
    }
    .contact-header{
        display: none;
    }
}
/*FIN FORMULARIO RESPONSIVE*/


/* Queries Footer */
@media (max-width: 991px) {

    .footer {
        padding: 40px;
    }

    .footer .pie {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .copyrightText {
        padding: 20px 40px 30px;
    }
    .contact-header{
        display: none;
    }
    .arbol{
        border-radius: 0px;
    }
    .word{
        display: none;
    }
    .word-responsive{
        display: inline;
        position:absolute;
    /*top: 50%;
    left: 50%;*/
    transform: translate(30%, -90%);
    
    color: white;
    font-size: 2rem;
    
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    
    top: 50%;
    left: 50%;
  
    
    
    }
    .contact-button{
        transform: translateY(15%);
    }
    

}

@media (max-width: 768px) {

    .footer {
        padding: 40px;
    }

    .footer .pie {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}


/*RESPONSIVE    */
@media only screen and (max-width: 600px) {
    .content-wrapper {
        font-size: 1rem; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }

    .buttons {
        flex-direction: column; /* Coloca los botones uno encima del otro */
        align-items: center; /* Centra los botones */
    }

    .contact-button .about-us-button  {
        margin-right: 0; /* Elimina el margen entre los botones */
        margin-bottom: 10px; /* Añade un espacio entre los botones */
    }
    .arbol{
        border-radius: none;
    }
}




/* SOBRE NOSOTROS */

@media only screen and (max-width: 768px) {
 

    .main-2 {
        flex-direction: column; /* Cambia a una disposición de columna */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
        text-align: left; /* Alinea el texto a la izquierda */
        margin: 0; /* Elimina los márgenes en pantallas pequeñas */
    }

    .aboutus {
        max-width: 100%; /* Ocupa todo el ancho disponible */
        margin-bottom: 20px; /* Añade espacio entre los elementos */
    }

    .img-aboutus {
        width: 70%; /* Ajusta el ancho según sea necesario */
        height: auto; /* Ajusta la altura automáticamente */
        max-width: 300px; /* Establece un ancho máximo */
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-top: 20px; /* Añade margen superior según sea necesario */
        
    }

    .img-below {
        display: none; /* Oculta la segunda imagen en pantallas pequeñas */
    }
    .copyrightText{
        margin: 0;
        
    }
    
}
/*RESPONSIVO IMAGEN GRANDE*/
@media only screen and (max-width: 768px) {
    .content-wrapper{
        display: flex;
        flex-direction: column;

    }
    .word {
        font-size: 1.5rem; /* Ajusta el tamaño del texto para pantallas más pequeñas */
        transform: translate(350px, 50px);
    }

    .buttons {
        
        transform: translate(310px, -10px);
        
    }

    .contact-button {

        font-size: small;
    }
}
@media (max-width: 500px) {
    body{
        margin: 0;
        padding: 0;
    }
    .content-wrapper{
        display: flex;
        flex-direction: column;

    }
    .word {
        font-size: 1.0rem; /* Ajusta el tamaño del texto para pantallas más pequeñas */
        transform: translate(280px, 30px);
    }

    .buttons {
        
        transform: translate(250px, 15px);
        
    }

    .contact-button {

        font-size: xx-small;
    }

    
}
/*FIN RESPONSIVO IMAGEN GRANDE*/

